[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
behave = "*"
selenium-page-factory = "*"
blender = "*"

[dev-packages]

[requires]
python_version = "3.11"
