[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = ">=4.25.0"
behave = ">=1.2.6"
selenium-page-factory = "*"
blender = "*"

[dev-packages]

[requires]
python_version = "3.11"
